@font-face {
  font-family: 'MullerRegular';
  src: url('../fonts/MullerRegular/MullerRegular.eot');
  src: url('../fonts/MullerRegular/MullerRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/MullerRegular/MullerRegular.woff2') format('woff2'), url('../fonts/MullerRegular/MullerRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CormorantUnicase';
  src: url('../fonts/CormorantUnicase/CormorantUnicase-Medium.eot');
  src: url('../fonts/CormorantUnicase/CormorantUnicase-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/CormorantUnicase/CormorantUnicase-Medium.woff') format('woff'), url('../fonts/CormorantUnicase/CormorantUnicase-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'CormorantUnicase';
  src: url('../fonts/CormorantUnicase/CormorantUnicase-SemiBold.eot');
  src: url('../fonts/CormorantUnicase/CormorantUnicase-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/CormorantUnicase/CormorantUnicase-SemiBold.woff') format('woff'), url('../fonts/CormorantUnicase/CormorantUnicase-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'CormorantGaramond';
  src: url('../fonts/CormorantGaramond/CormorantGaramond-MediumItalic.eot');
  src: url('../fonts/CormorantGaramond/CormorantGaramond-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CormorantGaramond/CormorantGaramond-MediumItalic.woff') format('woff'), url('../fonts/CormorantGaramond/CormorantGaramond-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
